
<!-- <main class="main">
  
</main> -->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<h1 style="text-align: center; margin-top: 20px;">{{title}}</h1>

<!-- <div class="grid-container">
    <div class="item1">Subject selection</div>
    <div class="item2">Training</div>
    <div class="item3">Graph</div>
    <div class="item4">Simulation</div>

</div> -->

<div class="grid-container">
    <div class="item1">
        <app-subject style="margin-left:20px; margin-right:20px"></app-subject>
    </div>
    <div class="item2">
        <app-training></app-training>
    </div>
    <div class="item3">
        <app-training-set-slider></app-training-set-slider>
    </div>  
    <div class="item4">Graph</div>
    <div class="item5">Simulation</div>
  </div>
  

<!-- 
<app-subject style="margin-left:20px; margin-right:20px"></app-subject>

<app-training></app-training>

<router-outlet></router-outlet> -->
