<h2 style="margin-left:20px">Training</h2>

<div class="grid-container" style="display:grid; grid-template-columns: 35% 65%; margin:20px">
    
    <!-- Algorithm selection  -->
    <div class="grid-item" style="vertical-align: top;">
        <mat-form-field style="width:90%; height: 100%">
            <mat-label>{{algorithmDefaultText}}</mat-label>
            <mat-select (selectionChange)="onAlgorithmSelected($event.value)">
            <mat-option *ngFor="let algorithm of algorithm_list" [value]="algorithm">{{ algorithm }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <!-- Buttons optimization -->
    <div class="grid-item" style="vertical-align: top;">
        <div
        matTooltip="Subject and algorithm must be selected" 
        [matTooltipDisabled]="!buttonsDisabled"
        style="height:56px; width: 30%; margin-right:20px; vertical-align: top; display: inline-block;">
            <button
            mat-flat-button color="primary" 
            style=" width:100%; height:100%;"
            [disabled]="buttonsDisabled"
            (click)="onOptimizeClicked()">
                Optimize hyperparameters
            </button>
        </div>
        
        <div
        matTooltip="Subject and algorithm must be selected" 
        [matTooltipDisabled]="!buttonsDisabled"
        style="height:56px; width: 20%; margin-right:20px; vertical-align: top; display: inline-block;">
            <button
            mat-flat-button color="primary"
            style=" width:100%; height:100%;"
            [disabled]="buttonsDisabled">
                Train
            </button>
        </div>
        <mat-checkbox
            [disabled]="!customParamsAvailable">
            Use custom hyperparameters
        </mat-checkbox>
        <div *ngIf="optimizing" style="vertical-align: middle; display:inline-block; height:56px; margin-left:20px">
            <mat-spinner [diameter]="50"></mat-spinner>
        </div>
    </div>
</div>