<h2 style="text-align: center;">Simulation</h2>
<div class="grid-container">
    <div class="inline-input">
        Predicted state will change after 
        <input matInput type="number" [(ngModel)]="numberOfWindows" (ngModelChange)="onNumberOfWindowsChange($event)" class="input-inline" min="minNumberOfWindows" max="maxNumberOfWindows">
        consecutive coincident predictions.
    </div>

    <div class="timeline">
        <h2 style="text-align: center;">Hola</h2>
    </div>

    <div class="simulation-graph">
        <app-simulation-graph [realChartDataset]="realChartData" [predictedChartDataset]="predictedChartData" [chartLabels]="chartLabels"></app-simulation-graph>
    </div>
</div>

