<h2 style="text-align: center;">Simulation</h2>
<div class="grid-container">
    <div class="inline-input">
        Predicted state will change after 
        <input matInput type="number" [(ngModel)]="numberOfWindows" (ngModelChange)="onNumberOfWindowsChange()" class="input-inline" min="{{minNumberOfWindows}}" max="{{maxNumberOfWindows}}">
        consecutive coincident predictions.

        <app-simulation-graph [realChartDataset]="realChartData" [predictedChartDataset]="predictedChartData" [chartLabels]="chartLabels"></app-simulation-graph>
    </div>

    <div class="timeline">
        <app-simulation-timeline [realData]="realChartData" [predictedData]="predictedChartData"></app-simulation-timeline>
    </div>
</div>

