<!-- Copyright 2024 Pelayo Vieites Pérez      

  -- This Source Code Form is subject to the terms of the Mozilla Public
  -- License, v. 2.0. If a copy of the MPL was not distributed with this
  -- file, You can obtain one at https://mozilla.org/MPL/2.0/.          

-->

<h2 style="text-align: center;">Simulation</h2>
<div class="grid-container">
    <div class="inline-input">
        Predicted state will change after 
        <input matInput type="number" [(ngModel)]="numberOfWindows" (ngModelChange)="onNumberOfWindowsChange()" class="input-inline" min="{{minNumberOfWindows}}" max="{{maxNumberOfWindows}}">
        consecutive coincident predictions.

        <app-simulation-graph [realChartDataset]="realChartData" [predictedChartDataset]="predictedChartData" [chartLabels]="chartLabels"></app-simulation-graph>
    </div>

    <div class="timeline">
        <app-simulation-timeline [realData]="realChartData" [predictedData]="predictedChartData"></app-simulation-timeline>
    </div>
</div>

