<h2 style="text-align: center;">Accuracy graph</h2>
<div style="text-align: center; height:100%; vertical-align: middle;">
    <canvas *ngIf="isBrowser && showGraph" style="text-align: center;"
        baseChart
        [data]="barChartData"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [type]="'bar'">
    </canvas>
    <div *ngIf="!showGraph" 
    style="text-align: justify; width:100%; height:100%; text-wrap:wrap; border:1px solid whitesmoke; vertical-align: middle;">
        <p style="font-size:large; vertical-align: middle; margin: 15px;">Graph is not available.</p>
        <p style="font-size:large; vertical-align: middle; margin: 15px;">Please, click "train" to obtain a representation.</p>
    </div>
</div>
